*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            
}
.zero {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 40px;
    outline: solid red 1px;
}
.rightside {
    position: relative;
    top: -210px;
    left: 75px;
    background-image: url("rightsidezero.png");
    width: 60px;
    height: 150px;
    /*outline: solid blue 1px;*/
    z-index: 1;
}
.top {
    position: relative;
    background-image: url("topzero.png");
    width: 135px;
    height: 60px;
    /*outline: solid yellow 1px;*/
    z-index: 3;
}
.leftside {
    position: relative;
    top: -60px;
    background-image: url("sidezero.png");
    width: 60px;
    height: 150px;
    /*outline: solid blue 1px;*/
    z-index: 4;
}
.bottom {
    position: relative;
    top: 90px;
    background-image: url("bottomzero.png");
    width: 135px;
    height: 60px;
    /*outline: solid yellow 1px;*/
    z-index: 2;
}
.one {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 380px;
    outline: solid red 1px;
}
.top1 {
    position: relative;
    background-image: url("top1.png");
    width: 100px;
    height: 60px;
}
.middle1 {
    position: relative;
    left: 38px;
    background-image: url("middle1.png");
    width: 60px;
    height: 96px;
}
.bottom1 {
    position: relative;
    background-image: url("bottom1.png");
    width: 135px;
    height: 60px;
}
.two {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 380px;
    outline: solid red 1px;
}
.rightside2 {
    position: relative;
}
.leftside2 {
    position: relative;
}
.rightside2 {
    position: relative;
}
.leftside2 {
    position: relative;
}




.a {
    width: 202px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 20px;
}
.lefta {
    position: relative;
    background-image: url("lefta.png");
    width: 110px;
    height: 210px;
}
.righta {
    position: relative;
    background-image: url("righta.png");
    width: 92px;
    height: 210px;
    top: -210px;
    left: 110px;
}
.b {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 400px;
}
.topb {
    position: relative;
    background-image: url("topb.png");
    width: 135px;
    height: 57px;
}
.leftb {
    position: relative;
    background-image: url("leftb.png");
    width: 58px;
    height: 153px;
    top: -115px;
}
.rightb {
    position: relative;
    background-image: url("rightb.png");
    width: 39px;
    height: 153px;
    left: 96px;
    top: -268px;
}
.middleb {
    position: relative;
    background-image: url("middleb.png");
    width: 39px;
    height: 115px;
    left: 58px;
    top: 38px;
}
.c {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 730px;
}
.leftc {
    position: relative;
    background-image: url("leftb.png");
    width: 58px;
    height: 153px;
}
.bottomc {
    position: relative;
    background-image: url("bottomc.png");
    width: 135px;
    height: 57px;
    top: -57px;
}
.d {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 1050px;
}
.rightd {
    position: relative;
    background-image: url("rightd.png");
    width: 39px;
    height: 153px;
    top: -193px;
    left: 96px;
}
.bottomd {
    position: relative;
    background-image: url("bottomd.png");
    width: 40px;
    height: 40px;
    top: -40px;
    left: 58px;
}
.e {
    width: 202px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 1350px;
}
.tope {
    position: relative;
    background-image: url("tope.png");
    width: 202px;
    height: 56px;
}
.middlee {
    position: relative;
    background-image: url("middlee.png");
    width: 137px;
    height: 96px;
}
.bottome {
    position: relative;
    background-image: url("bottome.png");
    width: 202px;
    height: 56px;
}
.f {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 1750px;
}
.leftf {
    position: relative;
    background-image: url("leftf.png");
    width: 57px;
    height: 210px;
}
.topf {
    position: relative;
    background-image: url("topf.png");
    width: 77px;
    height: 57px;
    top: -210px;
    left: 57px;
}
.bottomf {
    position: relative;
    background-image: url("bottomf.png");
    width: 77px;
    height: 57px;
    top: -180px;
    left: 57px;
}
.g {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 2050px;
}
.leftg {
    position: relative;
    background-image: url("leftg.png");
    width: 57px;
    height: 210px;
}
.topg {
    position: relative;
    background-image: url("topg.png");
    width: 77px;
    height: 57px;
    top: -210px;
    left: 57px;
}
.bottomg {
    position: relative;
    background-image: url("bottomg.png");
    width: 77px;
    height: 77px;
    top: -134px;
    left: 57px;
}
.h {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 2350px;
}
.lefth {
    position: relative;
    background-image: url("lefth.png");
    width: 57px;
    height: 210px;
}
.righth {
    position: relative;
    background-image: url("righth.png");
    width: 57px;
    height: 210px;
    top: -210px;
    left: 76px;
}
.middleh {
    position: relative;
    background-image: url("middleh.png");
    width: 39px;
    height: 39px;
    top: -325px;
    left: 57px;
}
.i {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 2650px;
}
.onlyi {
    position: relative;
    background-image: url("i.png");
    width: 57px;
    height: 210px;
    left: 45px;
}
.j {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 2950px;
}
.leftj {
    position: relative;
    background-image: url("leftj.png");
    width: 57px;
    height: 96px;
    top: 114px;
}
.rightj {
    position: relative;
    background-image: url("rightj.png");
    width: 57px;
    height: 210px;
    left: 76px;
    top: -96px;
}
.middlej {
    position: relative;
    background-image: url("middleh.png");
    width: 39px;
    height: 39px;
    top: -135px;
    left: 57px;
}
.k {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 3250px;
}
.leftk {
    position: relative;
    background-image: url("leftk.png");
    width: 57px;
    height: 210px;
}
.topk {
    position: relative;
    background-image: url("topk.png");
    width: 57px;
    height: 95px;
    top: -210px;
    left: 78px;
}
.bottomk {
    position: relative;
    background-image: url("bottomk.png");
    width: 57px;
    height: 77px;
    top: -173px;
    left: 78px;
}
.middlek {
    position: relative;
    background-image: url("middlek.png");
    width: 58px;
    height: 39px;
    top: -287px;
    left: 57px;
}
.l {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 3550px;
}
.leftl {
    position: relative;
    background-image: url("leftl.png");
    width: 57px;
    height: 210px;
}
.bottoml {
    position: relative;
    background-image: url("bottoml.png");
    width: 78px;
    height: 39px;
    top: -45px;
    left: 57px;
}
.m {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 3850px;
    outline: solid blue 1px;
}
.leftm {
    position: relative;
    background-image: url("leftm.png");
    width: 57px;
    height: 210px;
}
.rightm {
    position: relative;
    background-image: url("rightm.png");
    width: 57px;
    height: 210px;
    left: 76px;
    top: -210px;
}
.middlem {
    position: relative;
    background-image: url("middlem.png");
    width: 19px;
    height: 95px;
    top: -420px;
    left: 57px;
}

.row {
    width: 100%;
    overflow: scroll;
    height: 300px;
    position: relative;
    z-index: 2;
}
.inner-row {
    width: 9000px;
}
.row2 {
    top: -140px;
    z-index: 1;
}