*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            
}
::-webkit-scrollbar { 
    display: none; 
}
body {
    height: 640px;
}
.all {
    margin-top: 80px;
}
.zero {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 40px;
}
.rightside {
    position: relative;
    top: -210px;
    left: 75px;
    background-image: url("rightsidezero.png");
    width: 60px;
    height: 150px;
    /*outline: solid blue 1px;*/
}
.top {
    position: relative;
    background-image: url("topzero.png");
    width: 135px;
    height: 60px;
    /*outline: solid yellow 1px;*/
}
.leftside {
    position: relative;
    top: -60px;
    background-image: url("sidezero.png");
    width: 60px;
    height: 150px;
    /*outline: solid blue 1px;*/
}
.bottom {
    position: relative;
    top: 90px;
    background-image: url("bottomzero.png");
    width: 135px;
    height: 60px;
    /*outline: solid yellow 1px;*/
}
.one {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 380px;
}
.top1 {
    position: relative;
    background-image: url("top1.png");
    width: 100px;
    height: 60px;
}
.middle1 {
    position: relative;
    left: 38px;
    background-image: url("middle1.png");
    width: 60px;
    height: 96px;
}
.bottom1 {
    position: relative;
    background-image: url("bottom1.png");
    width: 135px;
    height: 60px;
}
.two {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 680px;
}
.top2 {
    position: relative;
    background-image: url("rowone/top2.png");
    width: 135px;
    height: 70px;
}
.middle2 {
    position: relative;
    background-image: url("rowone/middle2.png");
    width: 135px;
    height: 70px;
}
.bottom2 {
    position: relative;
    background-image: url("rowone/bottom2.png");
    width: 135px;
    height: 70px;
}
.three {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 980px;
}
.top3 {
    position: relative;
    background-image: url("rowone/top3.png");
    width: 135px;
    height: 57px;
}
.middle3 {
    position: relative;
    background-image: url("rowone/middle3.png");
    width: 78px;
    height: 96px;
    left: 57px;
}
.bottom3 {
    position: relative;
    background-image: url("rowone/bottom3.png");
    width: 135px;
    height: 57px;
}
.four {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 1280px;
}
.left4 {
    position: relative;
    background-image: url("rowone/left4.png");
    width: 57px;
    height: 133px;
}
.middle4 {
    position: relative;
    background-image: url("rowone/middle4.png");
    width: 22px;
    height: 38px;
    left: 57px;
    top: -38px;
}
.right4 {
    position: relative;
    background-image: url("rowone/right4.png");
    width: 57px;
    height: 210px;
    left: 77px;
    top: -171px;
}
.five {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 1580px;
}
.top5 {
    position: relative;
    background-image: url("rowone/top5.png");
    width: 135px;
    height: 70px;
}
.middle5 {
    position: relative;
    background-image: url("rowone/middle5.png");
    width: 135px;
    height: 70px;
}
.bottom5 {
    position: relative;
    background-image: url("rowone/bottom5.png");
    width: 135px;
    height: 70px;
}
.six {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 1880px;
}
.top6 {
    position: relative;
    background-image: url("rowone/top6.png");
    width: 135px;
    height: 57px;
}
.left6 {
    position: relative;
    background-image: url("rowone/left6.png");
    width: 57px;
    height: 153px;
}
.right6 {
    position: relative;
    background-image: url("rowone/right6.png");
    width: 78px;
    height: 115px;
    left: 57px;
    top: -115px;
}
.seven {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 2180px;
}
.top7 {
    position: relative;
    background-image: url("rowone/top7.png");
    width: 78px;
    height: 57px;
}
.right7 {
    position: relative;
    background-image: url("rowone/right7.png");
    width: 57px;
    height: 210px;
    left: 78px;
    top: -57px;
}
.eight {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 2480px;
}
.top8 {
    position: relative;
    background-image: url("rowone/top8.png");
    width: 135px;
    height: 95px;
}
.middle8 {
    position: relative;
    background-image: url("rowone/middle8.png");
    width: 135px;
    height: 38px;
}
.bottom8 {
    position: relative;
    background-image: url("rowone/bottom8.png");
    width:135px;
    height: 77px;
}
.nine {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 2780px;
}
.left9 {
    position: relative;
    background-image: url("rowone/left9.png");
    width: 78px;
    height: 133px;
}
.right9 {
    position: relative;
    background-image: url("rowone/right9.png");
    width: 57px;
    height: 210px;
    left: 78px;
    top: -133px;
}
.exclamation {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 3080px;
}
.excl {
    position: relative;
    background-image: url("rowone/exclamation.png");
    width: 57px;
    height: 210px;
    left: 39px;
}
.period {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 3380px;
}
.per {
    position: relative;
    background-image: url("rowone/period.png");
    width: 57px;
    height: 57px;
    left: 39px;
    top: 153px;
}
.ndash {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 3680px;
}
.nd {
    position: relative;
    background-image: url("rowone/ndash.png");
    width: 96px;
    height: 57px;
    top: 70px;
    left: 19px;
}
.mdash {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 60px;
    left: 3980px;
}
.md {
    position: relative;
    background-image: url("rowone/mdash.png");
    width: 135px;
    height: 57px;
    top: 70px;
}

.rightside2 {
    position: relative;
}
.leftside2 {
    position: relative;
}
.rightside2 {
    position: relative;
}
.leftside2 {
    position: relative;
}




.a {
    width: 202px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 20px;
}
.lefta {
    position: relative;
    background-image: url("rowtwo/lefta.png");
    width: 110px;
    height: 210px;
}
.righta {
    position: relative;
    background-image: url("rowtwo/righta.png");
    width: 92px;
    height: 210px;
    top: -210px;
    left: 110px;
}
.b {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 400px;
}
.topb {
    position: relative;
    background-image: url("rowtwo/topb.png");
    width: 135px;
    height: 57px;
}
.leftb {
    position: relative;
    background-image: url("rowtwo/leftb.png");
    width: 58px;
    height: 153px;
    top: -115px;
}
.rightb {
    position: relative;
    background-image: url("rowtwo/rightb.png");
    width: 39px;
    height: 153px;
    left: 96px;
    top: -268px;
}
.middleb {
    position: relative;
    background-image: url("rowtwo/middleb.png");
    width: 39px;
    height: 115px;
    left: 58px;
    top: 38px;
}
.csculpture {
    width: 354px;
    height: 600px;
    position: fixed;
    top: 100px;
    left: 680px;
    background-image: url("sculptures/csculpture.png");
    background-repeat: no-repeat;
    background-position: center center; 
    display: none;
    z-index: 1;
    opacity: .7;
}
.c {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 730px;
}
.c:hover .csculpture {
    display: block;
}
.leftc {
    position: relative;
    background-image: url("rowtwo/leftb.png");
    width: 58px;
    height: 153px;
}
.bottomc {
    position: relative;
    background-image: url("rowtwo/bottomc.png");
    width: 135px;
    height: 57px;
    top: -57px;
}
.dsculpture {
    width: 368px;
    height: 600px;
    position: fixed;
    top: 100px;
    left: 680px;
    background-image: url("sculptures/dsculpture.png");
    background-repeat: no-repeat;
    background-position: center center; 
    display: none;
    z-index: 1;
    opacity: .7;
}
.d {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 1050px;
}
.d:hover .dsculpture {
    display: block;
}
.rightd {
    position: relative;
    background-image: url("rowtwo/rightd.png");
    width: 39px;
    height: 153px;
    top: -193px;
    left: 96px;
}
.bottomd {
    position: relative;
    background-image: url("rowtwo/bottomd.png");
    width: 40px;
    height: 40px;
    top: -40px;
    left: 58px;
}
.esculpture {
    width: 444px;
    height: 600px;
    position: fixed;
    top: 100px;
    left: 680px;
    background-image: url("sculptures/esculpture.png");
    background-repeat: no-repeat;
    background-position: center center; 
    display: none;
    z-index: 1;
    opacity: .7;
}
.e {
    width: 202px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 1350px;
}
.e:hover .esculpture {
    display: block;
}
.tope {
    position: relative;
    background-image: url("rowtwo/tope.png");
    width: 202px;
    height: 56px;
}
.middlee {
    position: relative;
    background-image: url("rowtwo/middlee.png");
    width: 137px;
    height: 96px;
}
.bottome {
    position: relative;
    background-image: url("rowtwo/bottome.png");
    width: 202px;
    height: 56px;
}
.fsculpture {
    width: 800px;
    height: 390px;
    position: fixed;
    top: 220px;
    left: 480px;
    background-image: url("sculptures/fsculpture.png");
    background-repeat: no-repeat;
    background-position: center center; 
    display: none;
    z-index: 1;
    opacity: .7;
}
.f {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 1750px;
}
.f:hover .fsculpture {
    display: block;
}
.leftf {
    position: relative;
    background-image: url("rowtwo/leftf.png");
    width: 57px;
    height: 210px;
}
.topf {
    position: relative;
    background-image: url("rowtwo/topf.png");
    width: 77px;
    height: 57px;
    top: -210px;
    left: 57px;
}
.bottomf {
    position: relative;
    background-image: url("rowtwo/bottomf.png");
    width: 77px;
    height: 57px;
    top: -180px;
    left: 57px;
}
.gsculpture {
    width: 800px;
    height: 561px;
    position: fixed;
    top: 100px;
    left: 500px;
    background-image: url("sculptures/gsculpture.png");
    background-repeat: no-repeat;
    background-position: center center; 
    display: none;
    z-index: 1;
    opacity: .7;
}
.g {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 2050px;
}
.g:hover .gsculpture {
    display: block;
}
.leftg {
    position: relative;
    background-image: url("rowtwo/leftg.png");
    width: 57px;
    height: 210px;
}
.topg {
    position: relative;
    background-image: url("rowtwo/topg.png");
    width: 77px;
    height: 57px;
    top: -210px;
    left: 57px;
}
.bottomg {
    position: relative;
    background-image: url("rowtwo/bottomg.png");
    width: 77px;
    height: 77px;
    top: -134px;
    left: 57px;
}
.hsculpture {
    width: 399px;
    height: 600px;
    position: fixed;
    top: 100px;
    left: 700px;
    background-image: url("sculptures/hsculpture.png");
    background-repeat: no-repeat;
    background-position: center center; 
    display: none;
    z-index: 1;
    opacity: .7;
}
.h {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 2350px;
}
.h:hover .hsculpture {
    display: block;
}
.lefth {
    position: relative;
    background-image: url("rowtwo/lefth.png");
    width: 57px;
    height: 210px;
}
.righth {
    position: relative;
    background-image: url("rowtwo/righth.png");
    width: 57px;
    height: 210px;
    top: -210px;
    left: 76px;
}
.middleh {
    position: relative;
    background-image: url("rowtwo/middleh.png");
    width: 39px;
    height: 39px;
    top: -325px;
    left: 57px;
}
.i {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 2650px;
}
.onlyi {
    position: relative;
    background-image: url("rowtwo/i.png");
    width: 57px;
    height: 210px;
    left: 45px;
}
.j {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 2950px;
}
.leftj {
    position: relative;
    background-image: url("rowtwo/leftj.png");
    width: 57px;
    height: 96px;
    top: 114px;
}
.rightj {
    position: relative;
    background-image: url("rowtwo/rightj.png");
    width: 57px;
    height: 210px;
    left: 76px;
    top: -96px;
}
.middlej {
    position: relative;
    background-image: url("rowtwo/middleh.png");
    width: 39px;
    height: 39px;
    top: -135px;
    left: 57px;
}
.k {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 3250px;
}
.leftk {
    position: relative;
    background-image: url("rowtwo/leftk.png");
    width: 57px;
    height: 210px;
}
.topk {
    position: relative;
    background-image: url("rowtwo/topk.png");
    width: 57px;
    height: 95px;
    top: -210px;
    left: 78px;
}
.bottomk {
    position: relative;
    background-image: url("rowtwo/bottomk.png");
    width: 57px;
    height: 77px;
    top: -173px;
    left: 78px;
}
.middlek {
    position: relative;
    background-image: url("rowtwo/middlek.png");
    width: 58px;
    height: 39px;
    top: -287px;
    left: 57px;
}
.lsculpture {
    width: 800px;
    height: 769px;
    position: fixed;
    top: 30px;
    left: 500px;
    background-image: url("sculptures/lsculpture.png");
    background-repeat: no-repeat;
    background-position: center center; 
    display: none;
    z-index: 1;
    opacity: .7;
}
.l {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 3550px;
}
.l:hover .lsculpture {
    display: block;
}
.leftl {
    position: relative;
    background-image: url("rowtwo/leftl.png");
    width: 57px;
    height: 210px;
}
.bottoml {
    position: relative;
    background-image: url("rowtwo/bottoml.png");
    width: 78px;
    height: 39px;
    top: -45px;
    left: 57px;
}
.msculpture {
    width: 357px;
    height: 600px;
    position: fixed;
    top: 60px;
    left: 750px;
    background-image: url("sculptures/msculpture.png");
    background-repeat: no-repeat;
    background-position: center center; 
    display: none;
    z-index: 1;
    opacity: .7;
}
.m {
    width: 135px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 3850px;
}
.m:hover .msculpture {
    display: block;
}
.leftm {
    position: relative;
    background-image: url("rowtwo/leftm.png");
    width: 57px;
    height: 210px;
}
.rightm {
    position: relative;
    background-image: url("rowtwo/rightm.png");
    width: 57px;
    height: 210px;
    left: 76px;
    top: -210px;
}
.middlem {
    position: relative;
    background-image: url("rowtwo/middlem.png");
    width: 19px;
    height: 95px;
    top: -420px;
    left: 57px;
}
.n {
    width: 135px;
    height: 210px;
    position: absolute;
    left: 60px;
}
.leftn {
    position: relative;
    background-image: url("rowthree/leftn.png");
    width: 57px;
    height: 210px;
}
.rightn {
    position: relative;
    background-image: url("rowthree/rightn.png");
    width: 57px;
    height: 210px;
    left: 76px;
    top: -210px;
}
.middlen {
    position: relative;
    background-image: url("rowthree/middlen.png");
    width: 20px;
    height: 115px;
    top: -401px;
    left: 57px;
}
.o {
    width: 202px;
    height: 210px;
    position: absolute;
    left: 370px;
}
.lefto {
    position: relative;
    background-image: url("rowthree/lefto.png");
    width: 110px;
    height: 210px;
}
.righto {
    position: relative;
    background-image: url("rowthree/righto.png");
    width: 92px;
    height: 210px;
    left: 110px;
    top: -210px;
}
.p {
    width: 135px;
    height: 210px;
    position: absolute;
    left: 780px;
}
.leftp {
    position: relative;
    background-image: url("rowthree/leftp.png");
    width: 57px;
    height: 210px;
}
.topp {
    position: relative;
    background-image: url("rowthree/topp.png");
    width: 78px;
    height: 57px;
    left: 57px;
    top: -210px;
}
.bottomp {
    position: relative;
    background-image: url("rowthree/bottomp.png");
    width: 78px;
    height: 38px;
    left: 57px;
    top: -191px;
}
.middlep {
    position: relative;
    background-image: url("rowthree/middlep.png");
    width: 39px;
    height: 19px;
    left: 96px;
    top: -248px;
}
.q {
    width: 135px;
    height: 210px;
    position: absolute;
    left: 1080px;
}
.leftq {
    position: relative;
    background-image: url("rowthree/leftq.png");
    width: 57px;
    height: 200px;
}
.rightq {
    position: relative;
    background-image: url("rowthree/rightq.png");
    width: 39px;
    height: 210px;
    top: -200px;
    left: 96px;
}
.topq {
    position: relative;
    background-image: url("rowthree/topq.png");
    width: 39px;
    height: 56px;
    top: -410px;
    left: 57px;
}
.bottomq {
    position: relative;
    background-image: url("rowthree/bottomq.png");
    width: 39px;
    height: 39px;
    top: -305px;
    left: 57px;
}
.r {
    width: 135px;
    height: 210px;
    position: absolute;
    left: 1380px;
}
.rightr {
    position: relative;
    background-image: url("rowthree/rightr.png");
    width: 39px;
    height: 96px;
    top: -210px;
    left: 96px;
}
.ssculpture {
    width: 268px;
    height: 600px;
    position: fixed;
    top: 60px;
    left: 800px;
    background-image: url("sculptures/ssculpture.png");
    background-repeat: no-repeat;
    background-position: center center; 
    display: none;
    z-index: 1;
    opacity: .7;
}
.s {
    width: 135px;
    height: 210px;
    position: absolute;
    left: 1680px;
}
.s:hover .ssculpture {
    display: block;
}
.tops {
    position: relative;
    background-image: url("rowthree/tops.png");
    width: 135px;
    height: 76px;
}
.bottoms {
    position: relative;
    background-image: url("rowthree/bottoms.png");
    width: 135px;
    height: 58px;
}
.middles {
    position: relative;
    background-image: url("rowthree/middles.png");
    width: 135px;
    height: 76px;
}
.t {
    width: 135px;
    height: 210px;
    position: absolute;
    left: 1980px;
}
.topt {
    position: relative;
    background-image: url("rowthree/topt.png");
    width: 135px;
    height: 55px;
    top: -210px;
}
.u {
    width: 202px;
    height: 210px;
    position: absolute;
    left: 2280px;
}
.leftu {
    position: relative;
    background-image: url("rowthree/leftu.png");
    width: 66px;
    height: 210px;
}
.middleu {
    position: relative;
    background-image: url("rowthree/middleu.png");
    width: 69px;
    height: 39px;
    top: -39px;
    left: 66px;
}
.rightu {
    position: relative;
    background-image: url("rowthree/rightu.png");
    width: 66px;
    height: 210px;
    top: -249px;
    left: 135px;
}
.vsculpture {
    width: 397px;
    height: 600px;
    position: fixed;
    top: 60px;
    left: 700px;
    background-image: url("sculptures/vsculpture.png");
    background-repeat: no-repeat;
    background-position: center center; 
    display: none;
    z-index: 1;
    opacity: .7;
}
.v {
    width: 135px;
    height: 210px;
    position: absolute;
    left: 2580px;
}
.v:hover .vsculpture {
    display: block;
}
.leftv {
    position: relative;
    background-image: url("rowthree/leftv.png");
    width: 57px;
    height: 210px;
}
.middlev {
    position: relative;
    background-image: url("rowthree/middlev.png");
    width: 20px;
    height: 58px;
    left: 57px;
    top: -58px;
}
.rightv {
    position: relative;
    background-image: url("rowthree/rightv.png");
    width: 57px;
    height: 210px;
    left: 77px;
    top: -268px;
}
.wsculpture {
    width: 396px;
    height: 600px;
    position: fixed;
    top: 60px;
    left: 701px;
    background-image: url("sculptures/wsculpture.png");
    background-repeat: no-repeat;
    background-position: center center; 
    display: none;
    z-index: 1;
    opacity: .7;
}
.w {
    width: 135px;
    height: 210px;
    position: absolute;
    left: 2880px;
}
.w:hover .wsculpture {
    display: block;
}
.leftw {
    position: relative;
    background-image: url("rowthree/leftw.png");
    width: 57px;
    height: 210px;
}
.middlew {
    position: relative;
    background-image: url("rowthree/middlew.png");
    width: 20px;
    height: 58px;
    left: 57px;
    top: -58px;
}
.rightw {
    position: relative;
    background-image: url("rowthree/rightw.png");
    width: 57px;
    height: 210px;
    left: 77px;
    top: -268px;
}
.x {
    width: 135px;
    height: 210px;
    position: absolute;
    left: 3180px;
}
.bottomrightx {
    position: relative;
    background-image: url("rowthree/bottomrightx.png");
    width: 57px;
    height: 95px;
    top: -208px;
    left: 77px;
}
.topleftx {
    position: relative;
    background-image: url("rowthree/topleftx.png");
    width: 57px;
    height: 95px;
}
.bottomleftx {
    position: relative;
    background-image: url("rowthree/bottomleftx.png");
    width: 57px;
    height: 95px;
    top: 19px;
}
.middlex {
    position: relative;
    background-image: url("rowthree/middlex.png");
    width: 77px;
    height: 38px;
    left: 37px;
    top: -97px;
}
.toprightx {
    position: relative;
    background-image: url("rowthree/toprightx.png");
    width: 57px;
    height: 95px;
    left: 77px;
    top: -228px;
}
.y {
    width: 135px;
    height: 210px;
    position: absolute;
    left: 3480px;
}
.lefty {
    position: relative;
    background-image: url("rowthree/lefty.png");
    width: 57px;
    height: 132px; 
}
.middley {
    position: relative;
    background-image: url("rowthree/middley.png");
    width: 57px;
    height: 115px;
    top: -38px;
    left: 42px;
}
.righty {
    position: relative;
    background-image: url("rowthree/righty.png");
    width: 57px;
    height: 132px; 
    top: -247px;
    left: 78px;
}
.z {
    width: 135px;
    height: 210px;
    position: absolute;
    left: 3780px;
}
.topz {
    position: relative;
    background-image: url("rowthree/topz.png");
    width: 135px;
    height: 76px;
}
.middlez {
    position: relative;
    background-image: url("rowthree/middlez.png");
    width: 135px;
    height: 76px;
    
}
.bottomz {
    position: relative;
    background-image: url("rowthree/bottomz.png");
    width: 135px;
    height: 58px;
}

.row {
    width: 90%;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 300px;
    position: relative;
}
.inner-row {
    width: 5000px;
    height: 210px;
}
.row2 {
    top: -80px;
    left: 30px;
}
.row3 {
    top: -300px;
    left: 90px;
}
figcaption {
    font-family: arial;
    text-align: center;
    color: #9A9A9A;
    opacity: 1;
}
