body{
	background: #ffff00;
	font-size: 0px;
	margin: 0;
	font-family: Inconsolata, sans-serif;
}
.wrapper {
    width: 1440px;
	margin: 0 auto;
	float: left;
}
div {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
.text {
    width:710px;
    padding: 10px;
    text-align: left;
}
.photos {
    width:720px;
    text-align: right;
}
a:link {
    color: #000000;
    }
a:visited {
    color: #000000;
    }
a:hover {
    color: #B5B5B5;
}
