div {
	background-color: #FFFFFF;
	width: 1500px;
	height: 700px;
	margin: 0px;
	padding: 0px;
}
.text {
    width: 50%;
    float: left;
    text-align: left;
}
.photos {
    width: 50%;
    float: right;
}
body {
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: Inconsolata, sans-serif;
    text-align: center;
    }
p {
    color: black;
    font-size: 14px;
}
a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
}
a:link {
    color: #000000;
    }
a:visited {
    color: #000000;
    }
a:hover {
    color: #000000;
}
.back {
    font-size: 11px;
    letter-spacing: 0px;
    padding: 10px;
}