body{
	background: #FFFFFF;
	font-size: 0px;
	margin: 0;
	font-family: Inconsolata, sans-serif;
	 height: 725px;
}
.wrapper {
    width: 1440px;
    height: 725px;
	margin: 0 auto;
}
div {
	margin: 0px;
	padding: 0px;
	font-size: 35px;
}
.text {
    width: 700px;
    height: 715px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
.photos {
    width:720px;
    float: left;
}
.number {
   font-size: 20px;
   position: static;
   top: 0px;
   left: 0px;
   padding: 10px 5px 20px 10px;
}
.steps {
   font-size: 35px;
   position: fixed;
   bottom: 0px;
   left: 0px;
   padding: 10px 5px 20px 15px;
    
}
mark {
    background-color: #000000;
    color: #FFFFFF;
    
}
a:link {
    text-decoration:none;
    color: #000000;
    }
a:visited {
    color: #000000;
    }
a:hover {
    color: #B5B5B5;
}
