html {
	overflow-y: scroll;
}
body {
    font-family: consolas, sans-serif;
    width: 600px;
    height: 1000px;
    }
.content {
	background: #ffffff;
}
.range {
    font-size: 12px;
    width: 25px;
    height: 1250px;
    position: absolute;
    top: 50px;
    left: 7px;
}
.bar3 {
    font-size: 18px;
    text-align: center;
    background: #D4D4D4;
    height: 20px;
    width: 140px;
    position: absolute;
    top: 5px;
    left: 70px;
}
.bar1 {
    background: #D4D4D4;
    height: 15px;
    width: 1100px;
    position: absolute;
    top: 25px;
    left: 0;
}
.bar2 {
    background: #D4D4D4;
    height: 1500px;
    width: 40px;
    position: absolute;
    top: 25px;
    left: 0;
}
.row1 {
    text-align: center;
    font-size: 9px;
    width: 450px;
    margin-left: 35px;
    padding-bottom: 5px;
    float: left;
}
.row2 {
    text-align: center;
    font-size: 15px;
    width: 220px;
    margin-left: 35px;
    padding-bottom: 5px;
    float: left;
}
.row3 {
    text-align: center;
    font-size: 20px;
    width: 500px;
    margin-left: 35px;
    padding-bottom: 5px;
    float: left;
}
.row4 {
    text-align: center;
    font-size: 40px;
    width: 520px;
    margin-left: 35px;
    padding-bottom: 5px;
    float: left;
}
.row5 {
    text-align: center;
    font-size: 100px;
    width: 1000px;
    margin-left: 35px;
    padding-bottom: 5px;
    float: left;
}
.row6 {
    text-align: center;
    width: 500px;
    margin-left: 35px;
    padding-bottom: 5px;
    float: left;
}
.row7 {
    text-align: center;
    width: 200px;
    margin-left: 35px;
    padding-bottom: 5px;
    float: left;
}
.thumb1 {
    background: #ffffff;
    outline: 1px solid #000000;
    margin: 36px 2px 5px 2px;
    width: 50px;
    height: 30px;
    float: left;
    }
.thumb2 {
    background: #ffffff;
    outline: 1px solid #000000;
    margin: 10px 2px 5px 2px;
    width: 100px;
    height: 60px;
    float: left;
}
.thumb3 {
    background: #ffffff;
    outline: 1px solid #000000;
    margin: 10px 2px 5px 2px;
    width: 150px;
    height: 90px;
    float: left;
}
.thumb4 {
    background: #ffffff;
    outline: 1px solid #000000;
    margin: 10px 2px 5px 2px;
    width: 250px;
    height: 150px;
    float: left;
}
.thumb5 {
    background: #ffffff;
    outline: 1px solid #000000;
    margin: 10px 2px 5px 2px;
    width: 1000px;
    height: 600px;
    float: left;
}
.thumb6 {
    background: #ffffff;
    outline: 1px solid #000000;
    margin: 10px 2px 5px 2px;
    width: 100px;
    height: 60px;
    float: left;
    text-align: center;
}
.thumb7 {
    background: #ffffff;
    outline: 1px solid #000000;
    margin: 10px 2px 5px 2px;
    width: 200px;
    height: 120px;
    float: left;
}
.other{
    float: left;
    margin-left: 40px;
    margin-top: 40px;
}
p {
    color: black;
    font-size: 14px;
}
a {
    text-decoration: none;
}
a:link {
    color: #000000;
    }
a:visited {
    color: #000000;
    }
a:hover {
    color: #ff00ff;
}
.back {
    font-size: 11px;
    letter-spacing: 0px;
}