html {
	overflow-y: scroll;
}
body {
    font-family: consolas, sans-serif;
    }
.content {
	background: #ffffff;
}
.bar1 {
    background: #D4D4D4;
    height: 15px;
    width: 700px;
    position: absolute;
    top: 0;
    left: 0;
}
.bar2 {
    background: #D4D4D4;
    height: 800px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
}
.column {
    margin: 25px 5px 20px 45px;
    
}
.thumbs1 {
    font-size: 1px;
    background: #ffffff;
    outline: 1px solid #000000;
    padding: 5px;
    width: 500px;
}
.thumbs2 {
    background: #ffffff;
    outline: 1px solid #000000;
    padding: 20px;
    width: 180px;
}
.thumbs3 {
    background: #ffffff;
    outline: 1px solid #000000;
    padding: 20px;
    width: 280px;
}
.thumbs4 {
    background: #ffffff;
    outline: 1px solid #000000;
    padding: 20px;
    width: 180px;
}
.thumbs5 {
    background: #ffffff;
    outline: 1px solid #000000;
    padding: 20px;
    width: 130px;
}
.thumbs6 {
    background: #ffffff;
    outline: 1px solid #000000;
    padding: 20px;
    width: 50px;
}
.thumbs7 {
    background: #ffffff;
    outline: 1px solid #000000;
    padding: 20px;
    width: 50px;
    height: 45px;
}
p {
    color: black;
    font-size: 14px;
}
a {
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 1px;
}
a:link {
    color: #000000;
    }
a:visited {
    color: #000000;
    }
a:hover {
    color: #ff00ff;
}
.back {
    font-size: 11px;
    letter-spacing: 0px;
}