
sup {
	color: #FF6200;
	font-size: 40px;
}
sub {
	color: #FFC400;
	font-size: 40px;
	}
body {
	color: #009DFF;
	}
h1 sub, h1 sub {
	color: #5900F2;
	}
h3 sup, h6 sup {
	color: #5900F2;
	}
h3 sub, h6 sub {
	color: #E30B00;
	}
h4 sub, h4 sup {
	color: #0044E3;
	}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0px;
	margin-top: 0px;
	text-decoration: overline line-through;
	}
body {
	font-size: 20px;
	}
		
