html {
	overflow-y: scroll;
}
body {
    background-color: #E3E3E3;
    background-position: center;
    font-size: 16px;
    font-family: Georgia, sans-serif;
    text-align: center;
    width:768px;
	height: 1024px;
    }
#mainbox {
    position: center;
	width: 600px; 
	height: 1020px;
	margin: 10px 100px;
	background-color:#FFFFFF;
}
article,aside,figure,figurecaption,footer,header,nav,section {
	display: block;
	margin: 0;
	padding: 0;
}
p {
    color: black;
    font-size: 14px;
}
h1 {
    text-align: center;
	color: #D4D2D2;
	margin-top: 10px;
	padding-top: 40px;
	margin-bottom: 90px;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
	}
a {
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 3px;
}
a:link {
    color: #DEA37E;
    }
a:hover {
    color: #787878;
}
a:visited {
    color: #DEA37E;
    }
li {
	display: inline;
	padding-right: 20px;
	font-size: 20px;
	}
nav ul {
	text-align: center;
	word-spacing: 30px;
	}
.back {
    font-size: 11px;
    letter-spacing: 0px;
}