html {
	overflow-y: scroll;
}
#main_body {
	background-color: #FFFFFF;
	width: 900px;
	height: 1240px;
	margin: 25px auto 0px auto;
	padding: 0px;
}
div {
	display: block;
}
body {
    background-color: #E3E3E3;
    font-size: 40px;
    font-family: arial, sans-serif;
    text-align: center;
    }
p {
    color: black;
    font-size: 14px;
}
h1 {
	background-color: #FFFFFF;
    text-align: center;
	color: #DB9484;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-bottom: 90px;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 10px;
	border-bottom-style: dashed;
	border-bottom-width: thin;
	}
a {
    text-decoration: none;
    font-size: 50px;
    letter-spacing: 1px;
}
a:link {
    color: #B5B5B5;
    }
a:visited {
    color: #B5B5B5;
    }
a:hover {
    color: #A1C9D6;
}
li {
	display: inline;
	padding-right: 20px;
	font-size: 20px;
	}
nav ul {
	text-align: center;
	word-spacing: 30px;
	}
.back {
    font-size: 11px;
    letter-spacing: 0px;
    padding: 10px;
}