html {
	overflow-y: scroll;
}
body {
    display: block;
    background-color: #E3E3E3;
    font-size: 16px;
    font-family: arial, sans-serif;
    text-align: center;
    
    }
p {
    color: black;
    font-size: 14px;
}
h1 {
	background-color: #FFFFFF;
    text-align: center;
	color: #D4D2D2;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-bottom: 90px;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 5px;
	border-bottom-style: dashed;
	border-bottom-width: thin;
	}
a {
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 1px;
}
a:link {
    color: #000000;
    }
a:hover {
    color: #787878;
}
a:visited {
    color: #000000;
    }
li {
	display: inline;
	padding-right: 20px;
	font-size: 20px;
	}
nav ul {
	text-align: center;
	word-spacing: 30px;
	}
.back {
    font-size: 11px;
    letter-spacing: 0px;
}