body {
    height: 700px;
    width: 1300px;
}

.menu-wrapper {
    position: fixed;
    background-color: #fff;
    top: 50px;
    left: 100px;
    width: 80px;
    height: 280px;
    font-family: 'Roboto', sans-serif;
}
.hover-text {
    position: fixed;
    background-color: #fff;
    top: 140px;
    left: 40px;
    width: 60px;
    height: 190px;
    font-family: 'Roboto', sans-serif;
    text-align: right;
}
.hover-t {
    display: none;
    position: fixed;
    width:60px;
    height: 15px;
    top: 158px;
    left: 40px;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
}
.hover-f {
    display: none;
    position: fixed;
    width:60px;
    height: 15px;
    top: 227px;
    left: 40px;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
}
.hover-r {
    display: none;
    position: fixed;
    width:60px;
    height: 15px;
    top: 297px;
    left: 40px;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
}
.select-button, .finish-button {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #000;
    border-radius: 100%;
    left: 15px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    line-height: 70px;
    text-align: center;
}
.start {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #000;
    border-radius: 100%;
    left: 15px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
a:visited {
    color: #fff;
    text-decoration: none;
}
.t-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 90px;
    left: 25px;
    background-color: #000;
    color: #fff;
}
.f-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 160px;
    left: 25px;
    background-color: #000;
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
}
.r-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 230px;
    left: 25px;
    background-color: #000;
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
}
.tile-wrapper {
    position: fixed;
    background-color: #fff;
    top: 50px;
    left: 280px;
    width: 944px;
    height: 628px;
}
.s {
	display: inline-block;
    width: 150px;
    height: 150px;
    border: 2px solid transparent;
}
.s.active {
	border: 2px solid #FFFF00;
}
.select-button:hover, .finish-button:hover,
.t-button:hover, .f-button:hover, .r-button:hover {
    cursor: pointer
}
.t-button:hover {
    opacity: .5;
    transition: 0.8s;
}
.f-button:hover {
    transform: rotateY(180deg);
    transition: 0.9s;
}
.r-button:hover {
    transform: rotate(90deg);
    transition: 0.9s;
}
.image-ball { 
    position: fixed;
    top: 150px;
    left: 580px;
    display: none; 
    background: url('whole_images/ball.png') no-repeat;
    z-index: 500;
    outline: solid 50px #fff;
    height: 430px;
    width: 318px;
}
.image-haiti { 
    position: fixed;
    top: 150px;
    left: 580px;
    display: none; 
    background: url('whole_images/haiti.png') no-repeat;
    z-index: 501;
    outline: solid 50px #fff;
    height: 381px;
    width: 573px;
}
.image-missile { 
    position: fixed;
    top: 150px;
    left: 580px;
    display: none; 
    background: url('whole_images/missile.png') no-repeat;
    z-index: 500;
    outline: solid 50px #fff;
    height: 328px;
    width: 511px;
}
.image-natgeo { 
    position: fixed;
    top: 150px;
    left: 580px;
    display: none; 
    background: url('whole_images/natgeo.png') no-repeat;
    z-index: 501;
    outline: solid 50px #fff;
    height: 470px;
    width: 310px;
}
.image-oj { 
    position: fixed;
    top: 150px;
    left: 580px;
    display: none; 
    background: url('whole_images/oj.png') no-repeat;
    z-index: 501;
    outline: solid 50px #fff;
    height: 488px;
    width: 370px;
}
.image-pope { 
    position: fixed;
    top: 150px;
    left: 580px;
    display: none; 
    background: url('whole_images/pope.png') no-repeat;
    z-index: 501;
    outline: solid 50px #fff;
    height: 305px;
    width: 411px;
}
.image-smoke { 
    position: fixed;
    top: 150px;
    left: 580px;
    display: none; 
    background: url('whole_images/smoke.png') no-repeat;
    z-index: 501;
    outline: solid 50px #fff;
    height: 325px;
    width: 487px;
}
.image-soldier { 
    position: fixed;
    top: 150px;
    left: 580px;
    display: none; 
    background: url('whole_images/soldier.png') no-repeat;
    z-index: 501;
    outline: solid 50px #fff;
    height: 338px;
    width: 482px;
}
.image-sun { 
    position: fixed;
    top: 150px;
    left: 580px;
    display: none; 
    background: url('whole_images/sun.png') no-repeat;
    z-index: 501;
    outline: solid 50px #fff;
    height: 479px;
    width: 312px;
}
.image-train { 
    position: fixed;
    top: 150px;
    left: 580px;
    display: none; 
    background: url('whole_images/train.png') no-repeat;
    z-index: 501;
    outline: solid 50px #fff;
    height: 360px;
    width: 540px;
}
.missile1 { background: url('tile_images/missile1.png') no-repeat; } 
.missile2 { background: url('tile_images/missile2.png') no-repeat; }
.missile3 { background: url('tile_images/missile3.png') no-repeat; }
.missile4 { background: url('tile_images/missile4.png') no-repeat; }
.missile5 { background: url('tile_images/missile5.png') no-repeat; }
.missile6 { background: url('tile_images/missile6.png') no-repeat; }
.missile7 { background: url('tile_images/missile7.png') no-repeat; }
.missile8 { background: url('tile_images/missile8.png') no-repeat; }
.missile9 { background: url('tile_images/missile9.png') no-repeat; }
.missile10 { background: url('tile_images/missile10.png') no-repeat; }
.missile11 { background: url('tile_images/missile11.png') no-repeat; }
.missile12 { background: url('tile_images/missile12.png') no-repeat; }
.missile13 { background: url('tile_images/missile13.png') no-repeat; }
.missile14 { background: url('tile_images/missile14.png') no-repeat; }
.missile15 { background: url('tile_images/missile15.png') no-repeat; }
.missile16 { background: url('tile_images/missile16.png') no-repeat; }
.missile17 { background: url('tile_images/missile17.png') no-repeat; }
.missile18 { background: url('tile_images/missile18.png') no-repeat; }
.missile19 { background: url('tile_images/missile19.png') no-repeat; }
.missile20 { background: url('tile_images/missile20.png') no-repeat; }
.missile21 { background: url('tile_images/missile21.png') no-repeat; }
.missile22 { background: url('tile_images/missile22.png') no-repeat; }
.missile23 { background: url('tile_images/missile23.png') no-repeat; }

.natgeo1 { background: url('tile_images/natgeo1.png') no-repeat; } 
.natgeo2 { background: url('tile_images/natgeo2.png') no-repeat; }
.natgeo3 { background: url('tile_images/natgeo3.png') no-repeat; }
.natgeo4 { background: url('tile_images/natgeo4.png') no-repeat; }
.natgeo5 { background: url('tile_images/natgeo5.png') no-repeat; }
.natgeo6 { background: url('tile_images/natgeo6.png') no-repeat; }
.natgeo7 { background: url('tile_images/natgeo7.png') no-repeat; }
.natgeo8 { background: url('tile_images/natgeo8.png') no-repeat; }
.natgeo9 { background: url('tile_images/natgeo9.png') no-repeat; }
.natgeo10 { background: url('tile_images/natgeo10.png') no-repeat; }
.natgeo11 { background: url('tile_images/natgeo11.png') no-repeat; }
.natgeo12 { background: url('tile_images/natgeo12.png') no-repeat; }
.natgeo13 { background: url('tile_images/natgeo13.png') no-repeat; }
.natgeo14 { background: url('tile_images/natgeo14.png') no-repeat; }
.natgeo15 { background: url('tile_images/natgeo15.png') no-repeat; }
.natgeo16 { background: url('tile_images/natgeo16.png') no-repeat; }
.natgeo17 { background: url('tile_images/natgeo17.png') no-repeat; }
.natgeo18 { background: url('tile_images/natgeo18.png') no-repeat; }
.natgeo19 { background: url('tile_images/natgeo19.png') no-repeat; }
.natgeo20 { background: url('tile_images/natgeo20.png') no-repeat; }
.natgeo21 { background: url('tile_images/natgeo21.png') no-repeat; }
.natgeo22 { background: url('tile_images/natgeo22.png') no-repeat; }
.natgeo23 { background: url('tile_images/natgeo23.png') no-repeat; }

.oj1 { background: url('tile_images/oj1.png') no-repeat; } 
.oj2 { background: url('tile_images/oj2.png') no-repeat; }
.oj3 { background: url('tile_images/oj3.png') no-repeat; }
.oj4 { background: url('tile_images/oj4.png') no-repeat; }
.oj5 { background: url('tile_images/oj5.png') no-repeat; }
.oj6 { background: url('tile_images/oj6.png') no-repeat; }
.oj7 { background: url('tile_images/oj7.png') no-repeat; }
.oj8 { background: url('tile_images/oj8.png') no-repeat; }
.oj9 { background: url('tile_images/oj9.png') no-repeat; }
.oj10 { background: url('tile_images/oj10.png') no-repeat; }
.oj11 { background: url('tile_images/oj11.png') no-repeat; }
.oj12 { background: url('tile_images/oj12.png') no-repeat; }
.oj13 { background: url('tile_images/oj13.png') no-repeat; }
.oj14 { background: url('tile_images/oj14.png') no-repeat; }
.oj15 { background: url('tile_images/oj15.png') no-repeat; }
.oj16 { background: url('tile_images/oj16.png') no-repeat; }
.oj17 { background: url('tile_images/oj17.png') no-repeat; }
.oj18 { background: url('tile_images/oj18.png') no-repeat; }
.oj19 { background: url('tile_images/oj19.png') no-repeat; }
.oj20 { background: url('tile_images/oj20.png') no-repeat; }
.oj21 { background: url('tile_images/oj21.png') no-repeat; }
.oj22 { background: url('tile_images/oj22.png') no-repeat; }
.oj23 { background: url('tile_images/oj23.png') no-repeat; }

.soldier1 { background: url('tile_images/soldier1.png') no-repeat; } 
.soldier2 { background: url('tile_images/soldier2.png') no-repeat; }
.soldier3 { background: url('tile_images/soldier3.png') no-repeat; }
.soldier4 { background: url('tile_images/soldier4.png') no-repeat; }
.soldier5 { background: url('tile_images/soldier5.png') no-repeat; }
.soldier6 { background: url('tile_images/soldier6.png') no-repeat; }
.soldier7 { background: url('tile_images/soldier7.png') no-repeat; }
.soldier8 { background: url('tile_images/soldier8.png') no-repeat; }
.soldier9 { background: url('tile_images/soldier9.png') no-repeat; }
.soldier10 { background: url('tile_images/soldier10.png') no-repeat; }
.soldier11 { background: url('tile_images/soldier11.png') no-repeat; }
.soldier12 { background: url('tile_images/soldier12.png') no-repeat; }
.soldier13 { background: url('tile_images/soldier13.png') no-repeat; }
.soldier14 { background: url('tile_images/soldier14.png') no-repeat; }
.soldier15 { background: url('tile_images/soldier15.png') no-repeat; }
.soldier16 { background: url('tile_images/soldier16.png') no-repeat; }
.soldier17 { background: url('tile_images/soldier17.png') no-repeat; }
.soldier18 { background: url('tile_images/soldier18.png') no-repeat; }
.soldier19 { background: url('tile_images/soldier19.png') no-repeat; }
.soldier20 { background: url('tile_images/soldier20.png') no-repeat; }
.soldier21 { background: url('tile_images/soldier21.png') no-repeat; }
.soldier22 { background: url('tile_images/soldier22.png') no-repeat; }
.soldier23 { background: url('tile_images/soldier23.png') no-repeat; }

.train1 { background: url('tile_images/train1.png') no-repeat; } 
.train2 { background: url('tile_images/train2.png') no-repeat; }
.train3 { background: url('tile_images/train3.png') no-repeat; }
.train4 { background: url('tile_images/train4.png') no-repeat; }
.train5 { background: url('tile_images/train5.png') no-repeat; }
.train6 { background: url('tile_images/train6.png') no-repeat; }
.train7 { background: url('tile_images/train7.png') no-repeat; }
.train8 { background: url('tile_images/train8.png') no-repeat; }
.train9 { background: url('tile_images/train9.png') no-repeat; }
.train10 { background: url('tile_images/train10.png') no-repeat; }
.train11 { background: url('tile_images/train11.png') no-repeat; }
.train12 { background: url('tile_images/train12.png') no-repeat; }
.train13 { background: url('tile_images/train13.png') no-repeat; }
.train14 { background: url('tile_images/train14.png') no-repeat; }
.train15 { background: url('tile_images/train15.png') no-repeat; }
.train16 { background: url('tile_images/train16.png') no-repeat; }
.train17 { background: url('tile_images/train17.png') no-repeat; }
.train18 { background: url('tile_images/train18.png') no-repeat; }
.train19 { background: url('tile_images/train19.png') no-repeat; }
.train20 { background: url('tile_images/train20.png') no-repeat; }
.train21 { background: url('tile_images/train21.png') no-repeat; }
.train22 { background: url('tile_images/train22.png') no-repeat; }
.train23 { background: url('tile_images/train23.png') no-repeat; }

.sun1 { background: url('tile_images/sun1.png') no-repeat; } 
.sun2 { background: url('tile_images/sun2.png') no-repeat; }
.sun3 { background: url('tile_images/sun3.png') no-repeat; }
.sun4 { background: url('tile_images/sun4.png') no-repeat; }
.sun5 { background: url('tile_images/sun5.png') no-repeat; }
.sun6 { background: url('tile_images/sun6.png') no-repeat; }
.sun7 { background: url('tile_images/sun7.png') no-repeat; }
.sun8 { background: url('tile_images/sun8.png') no-repeat; }
.sun9 { background: url('tile_images/sun9.png') no-repeat; }
.sun10 { background: url('tile_images/sun10.png') no-repeat; }
.sun11 { background: url('tile_images/sun11.png') no-repeat; }
.sun12 { background: url('tile_images/sun12.png') no-repeat; }
.sun13 { background: url('tile_images/sun13.png') no-repeat; }
.sun14 { background: url('tile_images/sun14.png') no-repeat; }
.sun15 { background: url('tile_images/sun15.png') no-repeat; }
.sun16 { background: url('tile_images/sun16.png') no-repeat; }
.sun17 { background: url('tile_images/sun17.png') no-repeat; }
.sun18 { background: url('tile_images/sun18.png') no-repeat; }
.sun19 { background: url('tile_images/sun19.png') no-repeat; }
.sun20 { background: url('tile_images/sun20.png') no-repeat; }
.sun21 { background: url('tile_images/sun21.png') no-repeat; }
.sun22 { background: url('tile_images/sun22.png') no-repeat; }
.sun23 { background: url('tile_images/sun23.png') no-repeat; }

.smoke1 { background: url('tile_images/smoke1.png') no-repeat; } 
.smoke2 { background: url('tile_images/smoke2.png') no-repeat; }
.smoke3 { background: url('tile_images/smoke3.png') no-repeat; }
.smoke4 { background: url('tile_images/smoke4.png') no-repeat; }
.smoke5 { background: url('tile_images/smoke5.png') no-repeat; }
.smoke6 { background: url('tile_images/smoke6.png') no-repeat; }
.smoke7 { background: url('tile_images/smoke7.png') no-repeat; }
.smoke8 { background: url('tile_images/smoke8.png') no-repeat; }
.smoke9 { background: url('tile_images/smoke9.png') no-repeat; }
.smoke10 { background: url('tile_images/smoke10.png') no-repeat; }
.smoke11 { background: url('tile_images/smoke11.png') no-repeat; }
.smoke12 { background: url('tile_images/smoke12.png') no-repeat; }
.smoke13 { background: url('tile_images/smoke13.png') no-repeat; }
.smoke14 { background: url('tile_images/smoke14.png') no-repeat; }
.smoke15 { background: url('tile_images/smoke15.png') no-repeat; }
.smoke16 { background: url('tile_images/smoke16.png') no-repeat; }
.smoke17 { background: url('tile_images/smoke17.png') no-repeat; }
.smoke18 { background: url('tile_images/smoke18.png') no-repeat; }
.smoke19 { background: url('tile_images/smoke19.png') no-repeat; }
.smoke20 { background: url('tile_images/smoke20.png') no-repeat; }
.smoke21 { background: url('tile_images/smoke21.png') no-repeat; }
.smoke22 { background: url('tile_images/smoke22.png') no-repeat; }
.smoke23 { background: url('tile_images/smoke23.png') no-repeat; }

.ball1 { background: url('tile_images/ball1.png') no-repeat; } 
.ball2 { background: url('tile_images/ball2.png') no-repeat; }
.ball3 { background: url('tile_images/ball3.png') no-repeat; }
.ball4 { background: url('tile_images/ball4.png') no-repeat; }
.ball5 { background: url('tile_images/ball5.png') no-repeat; }
.ball6 { background: url('tile_images/ball6.png') no-repeat; }
.ball7 { background: url('tile_images/ball7.png') no-repeat; }
.ball8 { background: url('tile_images/ball8.png') no-repeat; }
.ball9 { background: url('tile_images/ball9.png') no-repeat; }
.ball10 { background: url('tile_images/ball10.png') no-repeat; }
.ball11 { background: url('tile_images/ball11.png') no-repeat; }
.ball12 { background: url('tile_images/ball12.png') no-repeat; }
.ball13 { background: url('tile_images/ball13.png') no-repeat; }
.ball14 { background: url('tile_images/ball14.png') no-repeat; }
.ball15 { background: url('tile_images/ball15.png') no-repeat; }
.ball16 { background: url('tile_images/ball16.png') no-repeat; }
.ball17 { background: url('tile_images/ball17.png') no-repeat; }
.ball18 { background: url('tile_images/ball18.png') no-repeat; }
.ball19 { background: url('tile_images/ball19.png') no-repeat; }
.ball20 { background: url('tile_images/ball20.png') no-repeat; }
.ball21 { background: url('tile_images/ball21.png') no-repeat; }
.ball22 { background: url('tile_images/ball22.png') no-repeat; }
.ball23 { background: url('tile_images/ball23.png') no-repeat; }

.pope1 { background: url('tile_images/pope1.png') no-repeat; } 
.pope2 { background: url('tile_images/pope2.png') no-repeat; }
.pope3 { background: url('tile_images/pope3.png') no-repeat; }
.pope4 { background: url('tile_images/pope4.png') no-repeat; }
.pope5 { background: url('tile_images/pope5.png') no-repeat; }
.pope6 { background: url('tile_images/pope6.png') no-repeat; }
.pope7 { background: url('tile_images/pope7.png') no-repeat; }
.pope8 { background: url('tile_images/pope8.png') no-repeat; }
.pope9 { background: url('tile_images/pope9.png') no-repeat; }
.pope10 { background: url('tile_images/pope10.png') no-repeat; }
.pope11 { background: url('tile_images/pope11.png') no-repeat; }
.pope12 { background: url('tile_images/pope12.png') no-repeat; }
.pope13 { background: url('tile_images/pope13.png') no-repeat; }
.pope14 { background: url('tile_images/pope14.png') no-repeat; }
.pope15 { background: url('tile_images/pope15.png') no-repeat; }
.pope16 { background: url('tile_images/pope16.png') no-repeat; }
.pope17 { background: url('tile_images/pope17.png') no-repeat; }
.pope18 { background: url('tile_images/pope18.png') no-repeat; }
.pope19 { background: url('tile_images/pope19.png') no-repeat; }
.pope20 { background: url('tile_images/pope20.png') no-repeat; }
.pope21 { background: url('tile_images/pope21.png') no-repeat; }
.pope22 { background: url('tile_images/pope22.png') no-repeat; }
.pope23 { background: url('tile_images/pope23.png') no-repeat; }

.haiti1 { background: url('tile_images/haiti1.png') no-repeat; } 
.haiti2 { background: url('tile_images/haiti2.png') no-repeat; }
.haiti3 { background: url('tile_images/haiti3.png') no-repeat; }
.haiti4 { background: url('tile_images/haiti4.png') no-repeat; }
.haiti5 { background: url('tile_images/haiti5.png') no-repeat; }
.haiti6 { background: url('tile_images/haiti6.png') no-repeat; }
.haiti7 { background: url('tile_images/haiti7.png') no-repeat; }
.haiti8 { background: url('tile_images/haiti8.png') no-repeat; }
.haiti9 { background: url('tile_images/haiti9.png') no-repeat; }
.haiti10 { background: url('tile_images/haiti10.png') no-repeat; }
.haiti11 { background: url('tile_images/haiti11.png') no-repeat; }
.haiti12 { background: url('tile_images/haiti12.png') no-repeat; }
.haiti13 { background: url('tile_images/haiti13.png') no-repeat; }
.haiti14 { background: url('tile_images/haiti14.png') no-repeat; }
.haiti15 { background: url('tile_images/haiti15.png') no-repeat; }
.haiti16 { background: url('tile_images/haiti16.png') no-repeat; }
.haiti17 { background: url('tile_images/haiti17.png') no-repeat; }
.haiti18 { background: url('tile_images/haiti18.png') no-repeat; }
.haiti19 { background: url('tile_images/haiti19.png') no-repeat; }
.haiti20 { background: url('tile_images/haiti20.png') no-repeat; }
.haiti21 { background: url('tile_images/haiti21.png') no-repeat; }
.haiti22 { background: url('tile_images/haiti22.png') no-repeat; }
.haiti23 { background: url('tile_images/haiti23.png') no-repeat; }

.s.current {border: 2px solid #ffff00;}
.s:click {z-index: 600;}